*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  min-width: auto;
}

body {
  background-image: url(./images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}
