.middle-section {
  display: grid;
  background-color: black;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  overflow: hidden;
  padding: 0;
}

.user-pref {
  display: grid;
  grid-template-columns: 70% 5% 5% 5% 15%;
  color: #ffffff;
  font-size: 23px;
}

.top-cities {
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 50%;
}

.symbol1,
.symbol2,
.symbol3 {
  padding-top: 29%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.display-top {
  font-size: 17px;
  padding-top: 13%;
}

.display-top-input {
  background-color: rgba(131, 131, 131, 0.25);
  color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.city-card {
  margin-left: 3%;
  margin-right: 3%;
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  column-gap: 30px;
}

.row::-webkit-scrollbar {
  display: none;
}

.card {
  padding: 1rem;
  border: 5%;
  min-width: 20%;
  height: 280px;
  margin-bottom: 4rem;
  flex-basis: 25%;
  background-color: #181818;
  background-image: url(./images/karachi.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.city-name-temp {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 25px;
}

.sunny-icon {
  height: 25px;
}

.td {
  color: #ffffff;
  font-size: 15px;
  padding-top: 5%;
}

.hp {
  color: #ffffff;
  font-size: 15px;
  padding-top: 5%;
}

@media (max-width: 950px) {
  .user-pref {
    display: grid;
    grid-template-columns: 36% 10% 10% 10% 34%;
    color: #ffffff;
    font-size: 14px;
  }

  .top-cities {
    padding-left: 10%;
    padding-top: 10%;
    font-size: 20px;
  }
  .display-top {
    font-size: 15px;
    padding-top: 13%;
    padding-bottom: 13%;
  }

  .card {
    height: 180px;
  }

  .city-name-temp {
    font-size: 18px;
  }

  .sunny-icon {
    height: 18px;
  }

  .td {
    font-size: 15px;
  }

  .hp {
    font-size: 15px;
  }

  .across-continents {
    grid-template-columns: 55% 25% 20%;
    font-size: 23px;
    padding-left: 17px;
  }

  .continent-name {
    font-size: 20px;
  }

  .temperature {
    font-size: 20px;
  }

  .cont-name {
    font-size: 18px;
  }

  .cont-temp {
    font-size: 20px;
  }

  .city-time {
    font-size: 19px;
  }

  .cont-hum {
    font-size: 19px;
  }
}
