
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top-section{
    display: grid;
    height: 30%;
    width: 100%;
    grid-template-columns: 10% 20% 10% 10% 50%;
    padding-top: 2%;
}

.cityicon{
    height: 75%;
    width: 75%;
}

.city{
    font-size: 35px;
    height: 25%;
    width: 70%;
    background-color: rgba(131, 131, 131, 0.25);
    color:  #FFFFFF;
}
.grid-item1{
     align-self: start;
}

.tandd{
    flex-direction: column;
}

.time{
    margin-top: -10px;
    font-size: 30px;
    color: mistyrose;
}

.date{
    margin-top: -20px;
    font-size: 30px;
    color: mistyrose;
}

.sec{
    font-size: 20px;
}

.amstate{
    height: 65px;
}

.grid-item2{
    padding-top: 25px;
}

.temp{
    color:  #FFFFFF;
    padding-right: 17%;
}

.tempC{
    border-right: 1px dotted;
}

.tempF{
    border-right: 1px dotted;
}

.tempnum{
    font-size: 30px;
}

.tempword{
    font-size: 20px;
}

.humprecip{
    color:  #FFFFFF;
    padding-left: 5%;

}

.humword {
    font-size: 20px;
}

.precipword {
    font-size: 20px;
}

.humnum{
    font-size: 30px;
}

.precipnumber{
    font-size: 30px;
}

.hour{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 5%;
}

.line{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 20px;
}

.icon{
    display: flex;
    justify-content: space-between;
    padding-top:2%;
}

.precipnum{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 4%;
}

.middle-section{
    display: grid;
    background-color: black;
    border-radius: 35px;
    overflow: hidden;
}

.userpref{
    display: grid;
    grid-template-columns: 70% 5% 5% 5% 15%;
    color: #FFFFFF;
    font-size: 27px;
}

.topcities{
    padding-left: 55%;
}

.symbols{
    padding-top: 29%;
}

.displaytop{
    font-size: 17px;
    padding-top: 13%;
}

.displaytopinput{
    background-color: rgba(131, 131, 131, 0.25);
    color: #FFFFFF;
}

.row{
    align-items: stretch;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 30px;

  }

  .card {
    padding: 1rem;
    border: 5%;
    min-width: 20%;
    margin-bottom: 4rem;
    flex-basis: 20%;
    background-color:#181818;
    background-image: url(./images/karachi.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 10px;
    transition: transform 2s;
  }

  .card:hover{
    transform: scale(1.15);
  }

  .citynametemp{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 25px;
  }
  
  .sunnyicon{
    height: 25px;
    width: 25px;
  }

  .td{
    color: #FFFFFF;
    font-size: 20px;
  }

  @media (max-width: 600px){
    .top-section{
        grid-template-columns: 20% 40% 20% 20%;
    }
    .grid-item5{
        grid-column: 1/5;
    }
    
    .userpref{
        display: grid;
        grid-template-columns: 18% 10% 10% 10% 20%;
        color: #FFFFFF;
        font-size: 14px;
    }
    .topcities{
        padding-left: 5%;
    }
    .displaytop{
        font-size: 10px;
        padding-top: 13%;
    }
    .symbols{
        height: 20px;
        width: 20px;
  }
  