

body{
    border: 0;
    padding: 0;
    background-image: url(/images/background.svg);
}

.top-section{
    display: grid;
    height: 17rem;
    width: 100rem;
    grid-template-columns: 10% 10% 20% 10% 50%;
    position: relative;
    border: 10px red;
}

.cityicon{
    height: 140px;
    width: 140px;
}

#city{
    position: absolute;
    font-size: 30px;
    top: 30px;
    left: 180px;
    height: 70px;
    width: 200px;
    background-color: rgba(131, 131, 131, 0.25);
}
.grid-item1{
     
}

#time{
    font-size: 40px;
    color: mistyrose;
}

#date{
    font-size: 40px;
    color: mistyrose;
}

#amstate{
    height: 45px;
    width: 45px;
}

.grid-item2{
    
}

#temp{
    font-size: 20px;
}

.grid-item3{
    background-color:aquamarine;
}

.grid-item4{
    background-color:beige;
}

.grid-item5{
    
}

